body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 15px 30px;
    background-color: #ff6f61;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 70px;
    line-height: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    font-size: 1.8rem;
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 20px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.background-toggles {
    display: flex;
    gap: 10px;
    margin-right: 15px;
    box-sizing: border-box;
}

.background-1, .background-2, .background-3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ff6f61;
}

.background-1 {
    background-color: #a2c2e6;
}

.background-2 {
    background: linear-gradient(to bottom, #ffb347, #ffcc33);
}

.background-3 {
    background: linear-gradient(to bottom, #a8e0ff, #b3f2ff);
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ff6f61;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
    box-sizing: border-box;
}

.side-nav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.side-nav a:hover {
    background-color: #e65c5c;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

.container {
    display: flex;
    width: 70%;
    height: 60vh;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.image-div, .text-div {
    flex: 1;
    transition: all 0.3s ease;
    position: relative;
}

.image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    color: #333;
    text-align: center;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.container:hover .image-div .image-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.container:hover .text-div {
    background-color: #ff6f61;
    color: #fff;
}

footer {
    height: 60px;
    background-color: #ff6f61;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0px; 
    text-align: center; 
    box-sizing: border-box;
}

.copyright {
    font-size: 20px;
    color: #fff;
}

.icon-link {
    color: #333;
    font-size: 24px;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.icon-link:hover {
    color: #ff6f61;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .image-div, .text-div {
        height: 50vh;
    }

    .side-nav {
        width: 30%;
    }

    .background-toggles {
        margin-right: 10px;
    }
}

.text-div h2 {
    margin: 0;
    font-size: 24px;
    color: inherit;
}

.text-div p {
    font-size: 16px;
    color: inherit;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #e64a19;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    font-size: 2rem;
    margin-bottom: 10px;
}

.social-media a {
    color: #333;
}

.social-media p {
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
